/* Shared styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("atom.gif");
    background-color: #000000;
}

header {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 137, 27);
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Page-specific styles */

/* About the Class Page */
.about-header {
    background-color: #009800;
    color: #fff;
}

.about-container {
    background-color: #009800; /* Blue background */
}

/* My Work Page */
.work-header {
    background-color: #009800;
    color: #fff;
}

.work-container {
    background-color: #009800; /* Red background */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Blue for download button */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #1e77d8; /* Slightly darker blue on hover */
}
